@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:100,200,300,400,500,600,700,800,900');
@media print {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .visible-xs {
    display: none !important;
  }
  .hidden-xs {
    display: block !important;
  }
  table.hidden-xs {
    display: table;
  }
  tr.hidden-xs {
    display: table-row !important;
  }
  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }
  .hidden-xs.hidden-print {
    display: none !important;
  }
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
body{
	font-family: 'Encode Sans Condensed', sans-serif !important;
	color: #282828;
	line-height:1;
}
a, .btn, input, .form-control{
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
}
label{
margin-bottom:0 !important;
/*font-size:12px;*/
font-size:14px;

}
label.main{
margin-bottom:0 !important;
font-weight: bold;
}

.form-group{
	margin-bottom: 0px !important;
    display: table;
    width: 100%;
    padding-left: 7px;
}

.profile_inputs .level_3_heading{
	margin-bottom:3px;
}
.btn{
padding:0px 6px !important;
}
.btn-primary{
	background-color: #f26522 !important;
	border:0 !important;
}
.btn-primary:hover{
	background-color: #282828 !important;
	border:0 !important;
}

.level_1_heading{
	/* background-color: #f26522; */
	background-color: rgb(255, 187, 119) !important;
	color: #ffffff !important;
	/*font-size: 25px;*/
	font-size: 27px;
	font-weight: bold;
	padding: 2px;
	}

.level_1_heading{
	/* background-color: #f26522; */
	background-color: rgb(255, 187, 119);
	color: #fff !important;
	/*font-size: 25px;*/
	font-size: 27px;
	font-weight: bold;
	padding: 2px;
}
.level_1_heading.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	margin: 0;
}
.level_2_heading{
	/*font-size: 20px;*/
	font-size: 22px;
	font-weight: 700;
	border-bottom: 1px dashed #b7b7b7;
	padding-bottom: 10px;
	margin-top:7px;
}
.level_2_heading .fa{
	color:#ccc;
}
.level_3_heading{
	/*font-size: 16px;
	font-weight: 600;
	padding-bottom: 0;*/
	/*font-size: 14px;*/
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 0;
}
.box_heading{
	/*font-size: 14px;*/
	font-size: 16px;
	font-weight: 500;
}
.p_score .fa{
	color: #b8b8b8;
}
.checkgrp label, .checkgrp input{
	float: left;
}
.p_score .fa.active{
	color: #f26522;
}
.attachments{
	text-align:center;
}
.attachments .fa{
	float:none;
	margin:0 auto;
	display: inline-block;
	padding: 0 2px;
	color:#ccc;
}
.level_2_row{
	padding-bottom: 11px;
    border-bottom: 1px dashed #b7b7b7;
}
.level_2_row:nth-last-child(1){
	border-bottom: 0;
}
.user_thumbnail{
	margin-top:10px;
	width:141px;
	float:left;
	padding:0 15px;
}
.profile_inputs input[type="text"], .companies input[type="text"],
 .profile_inputs select, .profile_inputs input[type="date"],.profile_inputs input[type="time"]{
	width: 150px;
    float: right;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    height: 17px;
    padding: 0 !important;
}
.profile_inputs input[type=file]{
	padding: 6px 0;
}
input[type=checkbox], input[type=radio]{
    top: 3px;
    margin: 0 6px !important;
    position: relative;
}
.profile_inputs .form-control:focus, .companies .form-control:focus{
	box-shadow: none;
	border-bottom: 1px solid #f26522;
}
.sep{
	width: 100%;
    display: block;
    clear: both;
    height: 1px;
    border-bottom: 1px dashed #b7b7b7;
    margin: 11px 0;

}
div[class^="col-"].profile_inputs{
	padding-left: 60px;
}
.form-control{
/*font-size:12px !important;*/
font-size:14px !important;
padding-bottom:15px !important;
border:0 !important;
box-shadow: none !important;
}
textarea.mc{
	height: 65px;
	width: 100% !important;
	resize: none;
	overflow:hidden;
}
textarea.mc.pd{
	/*padding-left: 15px;*/
}
textarea.mc:focus{
	overflow:auto;
}
.education .form-control{
	width: 100%;
}
.profile_inputs.full .form-control{
	width: 100%;
}
select.form-control{
	padding: 0 !important;
}
textarea.form-control{
	line-height:1;
	padding:0;
	transition:all ease 0.3s;
	-webkit-transition:all ease 0.3s;
	-ms-transition:all ease 0.3s;
	padding-top: 6px;
	
}
textarea.form-control:focus{
	
	border:1px solid #ccc;
}
.res-tbl thead{
	background-color: #eee;
}
.res-tbl th, .res-tbl td{
	padding: 5px;
	border:1px solid #ddd;
}


.bottom_headings {width: 1140px; margin: 0px auto !important}
.mr_right {margin-right: -20px}
.custom_width {width:36.7% !important; padding-right: 0px !important}
textarea {font-style: italic !important; background-color: #fff !important; height: 75px !important;}
select {margin-right: 4px !important ; width: 149px !important;}
.form-control-custom {width: auto !important;}
.scroll_italic {font-style: italic !important}
input{ background: #fff; }
.form-control[readonly]{background: #fff !important;}

option {
height: 12px;
line-height: 1.0001px;
/*font-size: 12px !important;*/
font-size: 14px !important;

}

label { 
	font-weight: 500 !important;
 }

 .Profile-Score{
 	width: 99px;margin: 0px !important;
padding: 0px !important;
 }



 .text-form{
 	margin-left: 1px !important;
 	 font-size: 14px; 
 	 float: right; margin-right: 5px !important;
 }


